

<div>Nombre: <%= @student.name %> <%= @student.lastname %>  </div>
<div>N. de id.: <%= @student.identification %></div>
<div>Facultad: <%= @student.faculty %></div>
<div>Carrera: <%= @student.career %><br></div>
<%= render 'devise/shared/links'%>
