<main class="detalle">
    <div class="breadcrumb-class">
    	Está en:<a href="#" target="_self" title="Inicio">Inicio</a>
    </div>
    <div class="container-fluid" style="padding: 2%">
		  <div class="row">
		    <div class="col-md-3" style="padding: 1%; background-color: #aaa">
					<div>Nombre: <%= @student.stu_name %></div>
					<div>N. de id.: <%= @student.stu_identification %></div>
					<div>Facultad: <%= @student.stu_facultad %></div>
					<div>Carrera: <%= @student.stu_carrera %><br></div>
					<%= render 'devise/shared/links'%>
					<% if notice %>
					  <p class="alert alert-success"><%= notice %></p>
					<% end %>
					<% if alert %>
					  <p class="alert alert-danger"><%= alert %></p>
					<% end %>
		    </div>
  			<div class="col-md-9">
  				<% if (@student.stu_rol == 1) %>
  				<%= render "students/show-admin"%>
  				<% end %>
  				<% if (@student.stu_rol == 2) %>
  				<%= render "students/show-student"%>
  				<% end %>
  				<ul class="bxslider">
					  <li>
					  	<%= image_tag("conv-movilidad-2016-2018-un-boletin.png", class:'hidden-print') %>
					  </li>
					  <li>
							<%= image_tag("movilidadesUNAL.png", height: '150%', width:'150%', class:'hidden-print') %>
					  </li>
					</ul>
  			</div>
		  </div>
		</div>

</main>