<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stu_name %>
    <%= f.text_field :stu_name %>
  </div>

  <div class="field">
    <%= f.label :stu_pass %>
    <%= f.text_field :stu_pass %>
  </div>

  <div class="field">
    <%= f.label :stu_email %>
    <%= f.text_field :stu_email %>
  </div>

  <div class="field">
    <%= f.label :stu_rol %>
    <%= f.number_field :stu_rol %>
  </div>

  <div class="field">
    <%= f.label :stu_id %>
    <%= f.number_field :stu_id %>
  </div>

  <div class="field">
    <%= f.label :stu_facultad %>
    <%= f.text_field :stu_facultad %>
  </div>

  <div class="field">
    <%= f.label :stu_carrera %>
    <%= f.text_field :stu_carrera %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
