<p id="notice"><%= notice %></p>
<div class="container-fluid">
  
  
    <h1>Historial</h1>

  
  
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Estado</th>
        <th>Estudiante</th>
        <th>Profesor</th>
        <th>Descripcion</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td>
            <% if request.req_estado == 1 %>
              <span><strong>Pendiente</strong></span>
            <% elsif request.req_estado == 2 %>
              <span><strong>En revisión</strong></span>
            <% elsif request.req_estado == 3 %>
              <span><strong>Devuelto</strong></span>
            <% elsif request.req_estado == 4 %>
              <span><strong>En espera de soportes</strong></span>
            <% elsif request.req_estado == 5 %>
              <span><strong>Terminada</strong></span>
            <% end %>
          </td>
          <td><%= request.student.stu_name %></td>
          <td><%= request.professor.pro_name %></td>
          <td><%= request.req_descripcion %></td>
          <%case @student.stu_rol
            when 1%>
            <td><%= link_to 'Detalles', admin_request_path(request) %></td>
            <% when 2 %>
            <td><%= link_to 'Detalles', student_request_path(request) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @student.stu_rol == 1 %>
  <%= will_paginate @requests, renderer: BootstrapPagination::Rails %>
  <% end %>
</div>