<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @request.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @request.amount %>
</p>

<p>
  <strong>Place:</strong>
  <%= @request.place %>
</p>

<p>
  <strong>Type:</strong>
  <%= @request.Type %>
</p>

<p>
  <strong>Student:</strong>
  <%= @request.student %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @request.professor %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
