<main class="detalle" >
  <div class="breadcrumb-class">
      Está en:<a href="#" target="_self" title="Inicio"></a>
    </div>
  <% state_class = (@request.state == 1) ? 'pendiente' : ((@request.state == 2) ? 'revision' : (  @request.state == 3 ? 'devuelto' : 'soportes') ) %>
  <div class="container-fluid ">
    <div class="row <%= state_class %>" >
      <div class="col-md-9 ">
        
      </div>
      <div class="col-md-3" style="padding: 2px" >
        <%case @request.state
        when 1%>
          <%= form_for admin_request_path([:admin, @request]), method: :put do %>
            <%= hidden_field_tag :state, @request.state = 2 %>
            <%= submit_tag 'Revisar', class: 'btn revision' %>
          <% end %>
        <%when 2 %>
          <%= form_for admin_request_path([:admin, @request], class: 'form-horizontal'), method: :put do %>
            <%= hidden_field_tag :state, @request.state = 4 %>
            <%= submit_tag 'Aprobar', class: 'btn soportes' %>
          <% end %>
          <%= form_for admin_request_path([:admin, @request], class: 'form-horizontal'), method: :put do %>
            <%= hidden_field_tag :state, @request.state = 3 %>
            <%= submit_tag 'Devolver', class: 'btn devuelto' %>
          <% end %>
        <%when 3 %>
          <%= form_for admin_request_path([:admin, @request], class: 'form-horizontal'), method: :put do %>
            <%= hidden_field_tag :state, @request.state = 2 %>
            <%= submit_tag 'Revisar', class: 'btn revision' %>
          <% end %>
        <%when 4 %>
          <%= form_for admin_request_path([:admin, @request], class: 'form-horizontal'), method: :put do %>
            <%= hidden_field_tag :state, @request.state = 5 %>
            <%= submit_tag 'Terminar', class: 'btn soportes' %>
          <% end %>
        <%end%>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-4">
        <p>
        <strong>Estado:</strong>
          <% if @request.state == 1 %>
              <span><strong>Pendiente</strong></span>
            <% elsif @request.state == 2 %>
              <span><strong>En revisión</strong></span>
            <% elsif @request.state == 3 %>
              <span><strong>Devuelto</strong></span>
            <% elsif @request.state == 4 %>
              <span><strong>En espera de soportes</strong></span>
            <% elsif @request.state == 5 %>
              <span><strong>Terminada</strong></span>
            <% end %>
        </p>      
      </div>
      <div class="col-md-4">
        <p>
          <strong>Profesor:</strong>
          <%= @request.professor.name %> <%= @request.professor.lastname %>
        </p>    
      </div>
      <div class="col-md-4">  
        <p>
          <strong>Estudiante:</strong>
          <%= @request.student.name %> <%= @request.student.lastname %>
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-4">
       <p>
          <strong>Descripción:</strong>
          <%= @request.description %>
        </p> 
      </div>
      <div class="col-md-8">
        <%= render 'documents/index', {locales: @student} %>
        <%case @request.state
        when 4%>
          <%= render 'supports/index', {locales: @student} %>
        <% when 5%>
          <%= render 'supports/index', {locales: @student} %>
        <%end%>
        
      </div>
    </div>
  </div>

  <br>
</main>
