<main class="detalle" >
  <div class="breadcrumb-class">
      Está en:<a href="#" target="_self" title="Inicio"></a>
    </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <p>
        <strong>Estado:</strong>
          <%= @request.req_estado %>
        </p>      
      </div>
      <div class="col-md-3">
        <p>
          <strong>Profesor:</strong>
          <%= @request.professor.pro_name %>
        </p>    
      </div>
      <div class="col-md-3">  
        <p>
          <strong>Estudiante:</strong>
          <%= @request.student.stu_name %>
        </p>
      </div>
    </div>
  </div>
       <p>
          <strong>Req descripcion:</strong>
          <%= @request.req_descripcion %>
        </p>
  

  <%= render 'documents/index' %>

  <% if @request.req_estado == 4 %>
    <p>
      <strong>Support:</strong>
      <%= @request.support %>
    </p>
  <% end %>

  <br>

  <%= link_to 'Edit', edit_request_path(@request) %>
  
</main>
