<p id="notice"><%= notice %></p>

<p>
  <strong>Docu name:</strong>
  <%= @document.docu_name %>
</p>

<p>
  <strong>Docu ruta:</strong>
  <%= @document.docu_ruta %>
</p>



<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
