<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table>
  <thead>
    <tr>
      <th>Pro name</th>
      <th>Pro pass</th>
<<<<<<< HEAD
      <th>Pro rol</th>
      <th>Pro email</th>
=======
      <th>Pro email</th>
      <th>Pro rol</th>
>>>>>>> Prueba-back
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.pro_name %></td>
        <td><%= professor.pro_pass %></td>
<<<<<<< HEAD
        <td><%= professor.pro_rol %></td>
        <td><%= professor.pro_email %></td>
=======
        <td><%= professor.pro_email %></td>
        <td><%= professor.pro_rol %></td>
>>>>>>> Prueba-back
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
