<p id="notice"><%= notice %></p>

<p>
  <strong>Pro name:</strong>
  <%= @professor.pro_name %>
</p>

<p>
  <strong>Pro pass:</strong>
  <%= @professor.pro_pass %>
</p>

<p>
<<<<<<< HEAD
  <strong>Pro rol:</strong>
  <%= @professor.pro_rol %>
</p>

<p>
  <strong>Pro email:</strong>
  <%= @professor.pro_email %>
=======
  <strong>Pro email:</strong>
  <%= @professor.pro_email %>
</p>

<p>
  <strong>Pro rol:</strong>
  <%= @professor.pro_rol %>
>>>>>>> Prueba-back
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
