<div id="services">
    <div class="indicator hidden-xs"></div>
    <ul class="dropdown-menu">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank">
            <%= image_tag("icnServEmail.png", size:"32x32", alt:"Correo Electrónico") %>
            Correo Electrónico</a>
        </li>
        <li>
            <a href="http://www.sia.unal.edu.co" target="_blank">
            <%= image_tag("icnServSia.png", size:"32x32", alt:"Sistema de Información Académica") %>
            Sistema de Información Académica</a>
        </li>
        <li>
            <a href="http://www.sinab.unal.edu.co" target="_blank">
            <%= image_tag("icnServLibrary.png", size:"32x32", alt:"Biblioteca") %>
            Biblioteca</a>
        </li>
        <li>
            <a href="http://168.176.5.43:8082/Convocatorias/indice.iface" target="_blank">
            <%= image_tag("icnServCall.png", size:"32x32", alt:"Convocatorias") %>
            Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co">
            <%= image_tag("icnServIdentidad.png", size:"32x32", alt:"Identidad U.N.") %>
            Identidad U.N.</a>
        </li>
    </ul>
</div>